.number-sliders {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.number-slider {
    position: relative;
    padding-top: 120px;
    width: 40px;
    margin: 0 auto;
    text-align: center;
}

.number-slider__outer {
    position: relative;
    top: 0;
    height: 99px;
    width: 100%;

    background-color: cornflowerblue;
    /* border-radius: 10px; */
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.number-slider__inner {
    width: 100%;
    background-color: midnightblue;
    /* border-radius: 10px; */
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}